*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  background-color: #333;
}

#control{
  display: flex;
  justify-content: center;
}

#play1, #p1, #p2, #play2{
  font-size: 2em;
  padding: 10px;
  color: white;
  border-bottom: 5px solid #777;;
}

#p1{
  border-right: 5px solid #777;
  margin: 0 20% 0 0;
  padding: 10px 10px 0 10%; 
}

#p2{
  border-left: 5px solid #777;
  padding: 10px 10% 0 10px;

}


main{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#j-v{
  background-color: #777;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}

.box{
  background-color: #333;
  min-height: 1.3em;
  min-width: 1.2em;
  color: white;
  text-align: center;
  font-size: 4em;
  line-height: .8;
  padding: 15px;
}
